/* ·ÖÒ³ÑùÊ½*/
.pageLink a,
.list_page a,
.list_page b {background:#00aeff;color:#fff;margin:1px;line-height:30px;cursor:pointer;padding:0 8px;display:inline-block;border:1px solid #00aeff;border-radius:1px}